.addButton {
    position: absolute;
    margin: 5px;
    background-color: lavenderblush;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    border-radius: 10px;
  }
 
  .addButton:hover {
    background-color: powderblue;
    color: black;
  }
 
  .cart-container {
    position: absolute;
    top: 150px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
 
 